@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css);
*{
    margin:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    background-color: rgb(180, 180, 180);
}
.navbarContainer{
    display:flex;
    justify-content:space-between;
    height:4rem;
    align-items: center;
    margin-top: 1.5rem;
}
.navbar{
    background-color: white;
    max-width:550px;
    height: 100%;
    width:100%;
    border-radius: 30px;
    display:flex;
    gap:1rem;
    justify-content: space-around;
    align-items: center;
    min-width: 220px;
    margin-right:2rem;
}
.logo{
    padding:0 2rem;
    cursor: pointer;
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
}
.navbarContainer a{
    cursor: pointer;
}
